In [159]:
import pandas as pd
from datetime import datetime

In [172]:
df = pd.read_csv('event-tracker/earthquakes.csv', sep=';')
df.dropna((0,1), how='all', inplace=True)
df.head()
df.tail()

            Date       Zone/Region  Magnitude (Mw)  Year
99   February 19           VANUATU             6.5  2015
100  February 16             JAPAN             6.8  2015
101  February 13   REYKJANES RIDGE             7.0  2015
102  February 11         ARGENTINA             6.6  2015
103   January 23           VANUATU             6.7  2015

In [173]:
df['Date'] = df['Date'] + ' ' + df['Year'].map(str)
del df['Year']
df['Date'] = df['Date'].apply(lambda x: 
                              datetime.strptime(x, '%B %d %Y'))

In [176]:
df['Date'].to_csv('event_earthquake.csv')

In [175]:
df.tail()

          Date       Zone/Region  Magnitude (Mw)
99  2015-02-19           VANUATU             6.5
100 2015-02-16             JAPAN             6.8
101 2015-02-13   REYKJANES RIDGE             7.0
102 2015-02-11         ARGENTINA             6.6
103 2015-01-23           VANUATU             6.7