In [4]:
import pandas as pd
from datetime import datetime

In [13]:
df = pd.read_csv('data/earthquakes_raw.csv', sep=';')
df.dropna((0,1), how='all', inplace=True)
df.head()

          Date       Zone/Region  Magnitude (Mw)  Year
0  December 09   SOLOMON ISLANDS             6.9  2016
1  December 08        CALIFORNIA             6.5  2016
2  December 08   SOLOMON ISLANDS             7.8  2016
3  December 06           SUMATRA             6.5  2016
4  November 25             CHINA             6.6  2016

In [12]:
df['Date'] = df['Date'] + ' ' + df['Year'].map(str)
del df['Year']
df['Date'] = df['Date'].apply(lambda x: 
                              datetime.strptime(x, '%B %d %Y'))
df.tail()

          Date       Zone/Region  Magnitude (Mw)
99  2015-02-19           VANUATU             6.5
100 2015-02-16             JAPAN             6.8
101 2015-02-13   REYKJANES RIDGE             7.0
102 2015-02-11         ARGENTINA             6.6
103 2015-01-23           VANUATU             6.7

In [176]:
df['Date'].to_csv('data/earthquakes.csv')